<h1>Projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Última Análise</th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr class="<%= projeto.situation_verbose %>">
    <td><%= link_to h(projeto.nome), projeto %></td>
    <td><pre><%=h truncate(projeto.descricao, 100) %></pre></td>
    <td><%=h projeto.ultima_analise %></td>
  </tr>
<% end %>
</table>
