body {
    font-size: 12pt;
}

.Approved, .Approved a {
    color: green;
}

.Warnings, .Warnings a {
    color: #aa0;
}

.Failed, .Failed a {
    color: red;
}

table {
    border: 2px black solid;
}

table td, table th {
    padding: 5px 20px;
}