body {
    font-size: 12pt;
    background-color: #079d00;
}

.Passed, .Passed a {
    color: green;
}

.Warnings, .Warnings a {
    color: #990;
}

.Failed, .Failed a {
    color: red;
}

table {
    border: 2px black solid;
}

table td, table th {
    padding: 5px 25px;
    font-size: 12pt;
}

table .impar {
    background-color: #ddd;
}

table .par {
    background-color: #eee;
}

.more_information {
    font-size: 10pt;
}

#main_content {
    margin: 0px auto;
    margin-top: 20px;
    width: 980px;
    border: 3px black solid;
    background-color: white;
    padding: 15px;
    position: relative;
}

#inotegration {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    font-size: 14pt;
    padding: 5px;
}

#inotegration span {
    font-size: 8pt;
    float: right;
}

.div_analysis {
    margin: 10px 2px;
    padding: 10px;
}

.div_analysis.Failed {
    border: 2px red solid;
    background-color: #fdd;
}

.div_analysis.Warnings {
    border: 2px #990 solid;
    background-color: #ffd;
}

.div_analysis.Passed {
    border: 2px green solid;
    background-color: #dfd;
}

