	<h3 class="<%= analysis.situation_verbose %>"><%= analysis.created_at %></h3>
	<p>Dados do commit: <pre><%=h analysis.dados_do_commit %></pre></p>
	<pre><%=h analysis.texto %></pre>
	<ul>
	<% analysis.results.each do |result| %>
	  <li class="<%= result.situation_verbose %>">
	  	<b><%=h result.nome %></b> (<%= result.tempo %>s)
	  	<pre><%=h result.texto %></pre>
	  </li>
	<% end %>
	</ul>
