<h1>Projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Última Análise</th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= project.situation_verbose %>">
    <td><%= link_to h(project.nome), project %></td>
    <td><pre><%=h truncate(project.description, 100) %></pre></td>
    <td><%=h project.last_analysis_at %></td>
  </tr>
<% end %>
</table>
